pip
snowflake-telemetry-python
pyarrow
streamlit
configparser
snowflake-snowpark-python
snowflake-connector-python
snowflake-ml-python
snowflake-core
transformers
tf-keras
torch
pandas
matplotlib
tqdm
torch
scipy
numpy

tensorflow
ipywidgets
anywidget
